luac.out
*.src.rock
*.zip
*.tar.gz
*.dll
*.so
*.so.*
*.dylib

# Outro
**.bak
**.old
*.blend0
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.blend6
*.blend7
*.blend8
*.blend9
mesh/
anims/
mouth.blend
l4d2_animations.blend
gmod_animations.blend
skeleton_references.blend
