*
macro/*
!README.md
!.gitignore
!attachment.qci
!base.qci
!bonemerge.qci
!base.qci
!base.qci
!c_arms_CBBfix.qci
!Flex*
!macros.qci
!proportion_trick.qci
!var_valvebones.qci
!vars.qci
!macro/
!macro/Arkj*.qci
!macro/jiggle_*.qci
!macro/GM_IncludeNPC.qci
!macro/ViewModelhands.qci
