*
macro/*
!README.md
!.gitignore
!attachment.qci
!base.qci
!bonemerge.qci
!mesh.qci
!c_arms_CBBfix.qci
!Flex*
!facerules/*
!macros.qci
!proportion_trick.qci
!var_valvebones.qci
!vars.qci
!vrd_base.vrd
!macro/
!macro/Arkj*.qci
!macro/jiggle*.qci
!macro/MOD*
!macro/GM_IncludeNPC.qci
!macro/ViewModelhands.qci
